@charset 'UTF-8';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
input,
select,
textarea {
    border-radius: 0;
    outline: none;
    border: none;
    background: transparent;
    appearance: none;
}
button {
  border: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
